.prev_arrow {
    position: absolute;
    left: -45px;
    top: 25%;
    z-index: 1;
}

.next_arrow {
    position: absolute;
    right: -45px;
    top: 25%;
    z-index: 1;
}
.btn_arrow{
    border: none;
    background: none;
}
.img_arrow{
    width: 120px;
    height: 120px;
    cursor: pointer;
}
